#logo
{
    width: 160px;
    height: 130px;
}
.navbar
{
    background-color: white;
    border-bottom: white;
    padding-top: 15px;
    padding-bottom: 10px;   
}
.collapse .nav li a:hover
{
    color: #F9C8CF;
}
.collapse .nav li
{
    position: relative;
    top: 40px; 
}
.collapse .nav li a
{
    color: black;
    font-weight: 40px;
    font-size: 18px;
    
}
#brand
{
    font-size: 20px;
    color: black;
    letter-spacing: 3px;
}
#connect
{
    border: 1px solid #F9C8CF;
    background-color:#F9C8CF ;
    color: white ;
    border-radius: 25px;
    letter-spacing: 2px;
}
#connect:hover
{
    border: 1px solid #F9C8CF;
    background-color:white ;
    color: black ;
    border-radius: 25px;
}
#myNavbar .nav-item a
{
    margin-left: 20px;
    margin-right: 20px;
}

#myNavbar .nav-item .dropdown-item
{
    width: max-content;
    display: flex;
}

#myNavbar .nav-item .dropdown-item:hover
{
    width: max-content;
    border: 1px solid #B38B59;
    border-radius: 20px;
}