#product_slide {
	background: #e2eaef;
	font-family: "Open Sans", sans-serif;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}

.carousel .wish-icon .fa-heart {
	color: #ff6161;
}

.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #B38B59;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #B38B59;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #B38B59;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.header
{
	font-size:15px;
	color: #e2eaef;
	padding: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
b
{
	letter-spacing: 5px;
}
#banner_home
{
	margin-top: 80px;
	margin-bottom: 70px;
}

#img-banner
{
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 50px;
	height: 350px;
	background: rgb(244,170,141);
	background: linear-gradient(90deg, rgba(244,170,141,1) 0%, rgba(255,233,233,1) 50%, rgba(244,170,141,1) 99%);
}
#txt-exc
{
	font-size: large;
}
#txt-life
{
	font-size: 50px;
	color: black;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

#pannier
{
	letter-spacing: 4pc;
}

