#product_slide {
	background: #e2eaef;
	font-family: "Open Sans", sans-serif;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}

.carousel .wish-icon .fa-heart {
	color: #ff6161;
}

.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #B38B59;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #B38B59;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #B38B59;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.header
{
	font-size:15px;
	color: #e2eaef;
	padding: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
b
{
	letter-spacing: 5px;
}
#banner_home
{
	margin-top: 80px;
	margin-bottom: 70px;
}

#img-banner
{
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 50px;
	height: 350px;
	background: rgb(244,170,141);
	background: linear-gradient(90deg, rgba(244,170,141,1) 0%, rgba(255,233,233,1) 50%, rgba(244,170,141,1) 99%);
}
#txt-exc
{
	font-size: large;
}
#txt-life
{
	font-size: 50px;
	color: black;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

#pannier
{
	letter-spacing: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
#empty_card
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}






/* add product */
#produit
{
	padding-top: 50px;
}
*, *:before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  

 button, input {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.4px;
  }
  
  .background {
	display: flex;
	min-height: 100vh;
	padding-bottom: 250px;
  }
  
  .conteneur {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
  }
  
  .screen {
	position: relative;
	background: #3e3e3e;
	border-radius: 15px;
  }
  
  .screen:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
	z-index: -1;
  }
  
  .screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #4d4d4f;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
  }
  
  .screen-header-left {
	margin-right: auto;
  }
  
  .screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: white;
  }
  
  .screen-header-button.close {
	background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
	background: #e8e925;
  }
  
  .screen-header-button.minimize {
	background: #74c54f;
  }
  
  .screen-header-right {
	display: flex;
  }
  
  .screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: #999;
  }
  
  .screen-body {
	display: flex;
  }
  
  .screen-body-item {
	flex: 1;
	padding: 50px;
  }
  
  .screen-body-item.left {
	display: flex;
	flex-direction: column;
  }
  
  .app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: #ea1d6f;
	font-size: 26px;
  }
  
  .app-title:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: #ea1d6f;
  }
  
  .app-contact {
	margin-top: auto;
	font-size: 8px;
	color: #888;
  }
  
  .app-form-group {
	margin-bottom: 15px;
  }
  
  .app-form-group.message {
	margin-top: 40px;
  }
  
  .app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
  }
  
  .app-form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
	color: #666;
  }

  #select_departement,#select_cat
  {
	background-color: #3e3e3e;
	padding: 5px;
  }
  #feed_back
  {
	  border-radius: 25px;
  }
  #products
  {
	margin-bottom: 100px;
	margin-bottom: 100px;
  }
  
  .app-form-control:focus {
	border-bottom-color: #ddd;
  }
  
  .app-form-button {
	background: none;
	border: none;
	color: #ea1d6f;
	font-size: 14px;
	cursor: pointer;
	outline: none;
  }
  
  .app-form-button:hover {
	color: #b9134f;
  }
  
  .dribbble {
	width: 20px;
	height: 20px;
	margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
	.screen-body {
	  flex-direction: column;
	}
  
	.screen-body-item.left {
	  margin-bottom: 30px;
	}
  
	.app-title {
	  flex-direction: row;
	}
  
	.app-title span {
	  margin-right: 12px;
	}
  
	.app-title:after {
	  display: none;
	}
  }
  
  @media screen and (max-width: 600px) {
	.screen-body {
	  padding: 40px;
	}
  
	.screen-body-item {
	  padding: 0;
	}
  }
  